<!DOCTYPE html>
<html ng-app="gitDashboard">
<head>
	<title>GitDashboard</title>
	{{template "header.html"}}
	<script type="text/javascript" src="public/js/services/authService.js"></script>
	<script type="text/javascript" src="public/js/services/reposService.js"></script>
	<script type="text/javascript" src="public/js/services/userService.js"></script>
	<script type="text/javascript" src="public/js/services/groupService.js"></script>
	<script type="text/javascript" src="public/js/app.js"></script>
	<script type="text/javascript" src="public/js/controllers/reposController.js"></script>
	<script type="text/javascript" src="public/js/controllers/repoController.js"></script>
	<script type="text/javascript" src="public/js/controllers/usersController.js"></script>
	<script type="text/javascript" src="public/js/controllers/groupsController.js"></script>
</head>
<body ng-controller="MainCtrl">
	<div class="ui one column doubling grid container">
		<div class="column">
			<div class="ui grid">
				<div class="five wide column">
					<h1>GitDashboard</h1>
				</div>
				<div class="eleven wide column right aligned top aligned">
					{{template "loginBar.html"}}
				</div>
			</div>
		</div>
	</div>
	<div class="ui attached stackable menu">
		<div class="ui container">
			<a class="item">
				<i class="home icon"></i> Home
			</a>
			<a class="item" href="#/">
				<i class="grid layout icon"></i> Browse
			</a>
			<a class="item" href="#/users" ng-show="getUser().IsAdmin()">
				<i class="user icon"></i> Users
			</a>
			<a class="item" href="#/groups" ng-show="getUser().IsAdmin()">
				<i class="users icon"></i> Groups
			</a>
			<div class="right item">
				<div class="ui input"><input type="text" placeholder="Search..."></div>
			</div>
		</div>
	</div>
	<div class="ui one column doubling grid container">
		<div class="column">
			<div ng-view></div>
		</div>
	</div>
</body>
</html>