<div class="ui modal" id="renamePopup">
	<i class="ui close icon"/>
	<div class="header">
		Rename Repository
	</div>
	<div class="content">
		<form class="ui form">
			<div class="field">
				<label>Name</label>
				<input type="text" ng-model="repo.name"/>
			</div>
			<div class="ui icon button" ng-click="renameRepo(repo)" onclick="$('#renamePopup').modal('hide')"><i class="edit blue icon"/>Rename</div>
		</form>
	</div>
</div>

<div class="ui modal" id="descriptionPopup">
	<i class="ui close icon"/>
	<div class="header">
		Change Description
	</div>
	<div class="content">
		<form class="ui form">
			<div class="field">
				<label>Description</label>
				<input type="text" ng-model="repo.description"/>
			</div>
			<div class="ui icon button" ng-click="updateDescription()" onclick="$('#descriptionPopup').modal('hide')"><i class="edit blue icon"/>Save</div>
		</form>
	</div>
</div>

<div >
	<div class="ui grid blue segment bottom attached ">
		<div class="ten wide column">
			<a class="clickable" ng-click="returnToFolder()" title="Parent folder">
				<i class="up big arrow icon"  />
			</a>

			<a class="clickable" ng-show="isFolderAdmin()" title="Select" ng-click="selRepo(repo)" >
				<i class="square big icon"   ng-hide="selRepoContains(repo)"/>
				<i class="check square big icon"   ng-show="selRepoContains(repo)"/>
			</a>
			<a class="clickable" ng-show="isFolderAdmin()" title="Lock/Unlock" ng-click="lockRepo(repo)" >
				<i class="lock  big icon"  ng-show="repo.locked" />
				<i class="unlock big icon"  ng-hide="repo.locked" />
			</a>

		</div>
		<div class="six wide column right aligned">
			<a href="#/permission/repo/{[{repo.id}]}" class="clickable" ng-show="isFolderAdmin()" title="Permissions">
				<i class=" big icons">
					<i class="user icon"   />
					<i class="corner green lock icon"   />
				</i>
			</a>
			<a class="clickable" ng-show="isFolderAdmin()" title="EventLog" ng-click="currView='public/fragment/repo/events.html'" >
				<i class=" big icons">
					<i class="file text  icon"   />
					<i class="corner blue clock icon"   />
				</i>
			</a>
		</div>
	</div>
	
	<div class="ui  top attached segment ">
		<b>Path:</b>{[{repo.path}]} <i ng-show="isFolderAdmin()" class="ui edit link icon"  onclick="$('#renamePopup').modal('show')"/><br/>
		<b>Url:</b>{[{repo.url}]}<br/>
		<b>Description:</b>{[{repo.description}]}<i ng-show="isFolderAdmin()" class="ui edit link icon"  onclick="$('#descriptionPopup').modal('show')"/><br/>
	</div>
	<div ng-include="currView"></div>
	<div class="ui  segment attached" ng-hide="currView!=null">
		<div class="ui top attached tabular menu" id="repoTab">
			<a class="active item" data-tab="commits"><i class="ui code icon"/>Commits</a>
			<a class="item" data-tab="files"><i class="ui file outline icon"/>Files</a>
			<a class="item" data-tab="graph"><i class="ui fork icon"/>Branches Graph</a>
		</div>
		<div class="ui bottom attached active tab segment" data-tab="commits">
			<div>
				<div class="ui grid">
					<div class="ten wide column">
						<div class="ui selection dropdown" id="refSel">
							<input type="hidden" name="currRefFld" ng-model="currRef">
							<i class="dropdown icon"></i>
							<div class="default text">{[{currRef}]}</div>
							<div class="menu">
								<div class="item"  ng-repeat="ref in repo.references" data-value="{[{ref}]}">{[{ref}]}</div>
							</div>
						</div>
						<script type="text/javascript">
							$('#refSel').dropdown({
								onChange: function (value, text, choice) {
									$(this).scope().currRef = value;
									$(this).scope().getCommits();
									$(this).scope().getFiles(null);
								}
							});
						</script>
					</div>
					<div class="six wide column right aligned">
						<i class="ui backward icon" style="cursor:pointer;" ng-click="decPage()"/>
						<div class="ui left labeled input">
							<div class="ui basic label">
								page
							</div>
							<input type="number" ng-model="page" ng-change="getCommits()" style="width:60px;" />
						</div>
						<i class="ui forward icon" style="cursor:pointer;" ng-click="incPage()"/>
					</div>
				</div>
			</div>
			<div class="ui three columns grid segment ">
				<div class="blue row" style="border:1px solid #CCCCCC;">
					<div  class="three wide column" ><b>Date</b></div>
					<div  class="four wide column" ><b>Author</b></div>
					<div  class="nine wide column" ><b>Message</b></div>
				</div>
				<div class="row clickable" style="border-bottom:1px solid #CCCCCC;" ng-repeat="commit in commits" ng-click="selCommit(commit)">
					<div  class="three wide column middle aligned" >{[{commit.date | date:'medium'}]}</div>
					<div  class="four wide column" >
						<div class="ui grid">
							<div class="four wide column">
								<img gravatar-src="commit.email" gravatar-size="40" class="ui image middle aligned" style="margin-right:5px;">
							</div>
							<div class="twelve wide column">
								{[{commit.author}]}<br/>
								{[{commit.email}]}
							</div>
						</div>
					</div>
					<div  class="nine wide column middle aligned" style="overflow:auto;">{[{commit.message}]}</div>
				</div>
			</div>
			<div   class="ui attached basic container" style="text-align:right;">
				<select ng-model="count" ng-change="getCommits()" class="ui compact selection dropdown" style="padding-bottom:0px;padding-top:0px;padding-right:5px;">
					<option value="10" ng-selected="count==10">10</option>
					<option value="20" ng-selected="count==20">20</option>
					<option value="50" ng-selected="count==50">50</option>
					<option value="100" ng-selected="count==100">100</option>
				</select>
			</div>
			
		</div>
		<div class="ui bottom attached  tab segment" data-tab="files">
			<div>
				<div class="ui selection dropdown" id="refFileSel" ng-class="{disabled:showFile}">
					<input type="hidden" name="currRefFld" ng-model="currRef">
					<i class="dropdown icon"></i>
					<div class="default text">{[{currRef}]}</div>
					<div class="menu">
						<div class="item"  ng-repeat="ref in repo.references" data-value="{[{ref}]}">{[{ref}]}</div>
					</div>
				</div>
				<script type="text/javascript">
					$('#refFileSel').dropdown({
						onChange: function (value, text, choice) {
							$(this).scope().currRef = value;
							$(this).scope().getCommits();
							$(this).scope().getFiles(null);
						}
					});
				</script>
				<i ng-show="showFile" class="ui left arrow blue icon clickable" ng-click="showFile=false;file=null;"/> {[{getPath()}]}
			</div>
			<div class="ui segment" >
				<div class="ui two columns grid">
					<div class="blue row">
						<div class="column"><b>Name</b></div>
						<div class="column"><b>Last commit</b></div>	
					</div>				
					<div class="row" ng-show="inFolder()" style="border-bottom:1px solid #CCCCCC;">
						<div class="clickable column" ng-click="upFilesDir()">
							<a><i class="ui up arrow icon"/></a>
						</div>
						<div></div>
					</div>
					<div class="row" ng-repeat="file in files" style="border-bottom:1px solid #CCCCCC;">
						<div class="column clickable" ng-click="openFile(file)">
							<i class="ui folder orange icon" ng-show="file.isDir"/>
							<i class="ui file outline icon" ng-hide="file.isDir"/>
							{[{file.name}]}
						</div>
						<div></div>
					</div>
				</div>
			</div>	
		</div>
		<script type="text/javascript">
			$('#repoTab .item').tab();
		</script>
	</div>
</div>